.container {
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 100px;
    padding: 30px;
    border: 2px solid rgb(1, 99, 1);
}
h1 {
    color: green;
    text-align: center;
}
label {
    color: rgb(1, 99, 1);
}

body {
    background-color: rgb(0, 0, 0);
}
form {
    border: 2px solid rgb(1, 99, 1);
}

